* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #FEC260;
}

body {
    background-color: #F7ECDE;
}

.bookmark {
    & header {
        border-bottom: dotted 3px;

        & h1 {
            font-family: 'Pacifico', cursive;
            font-size: 50px;
            color: #352e28;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 25%;
                width: 100%;
                bottom: 0;
                left: 0;
                background-color: #FEC260;
                z-index: -1;
                transition: all 0.5s;
            }

            &:hover::after {
                height: 65%;
            }

        }
    }

    & .content {
        & .content_inputs {
            padding-bottom: 20px;
            border-bottom: black dotted 3px;

            & .form-control {
                &:focus {
                    color: #212529;
                    background-color: #fff;
                    border-color: #d99c39;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem #fec26055;
                }
            }

        }

        & h2 {
            font-family: 'Righteous', sans-ser;
            font-size: 25px;
            background-image: linear-gradient(to right, #3ca55c, #b5ac49);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::selection {
                -webkit-text-fill-color: black;
            }
        }
    }

    & .btn {
        background-color: #D1512D;
        color: white;
        font-size: 18px;

        &:hover {
            background-color: #BB4120;
        }
    }
}